APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

APP_LOCALE=ar
APP_FALLBACK_LOCALE=ar
APP_FAKER_LOCALE=en_US

LOG_CHANNEL=stack
LOG_LEVEL=debug

DB_CONNECTION=sqlite

SESSION_DRIVER=database
QUEUE_CONNECTION=database
CACHE_STORE=database


MAIL_MAILER=smtp
MAIL_SCHEME=null
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME="workbridgeAdmin@gmail.com"
MAIL_PASSWORD="ijrotoiyjxmugppq"
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS="workbridgeAdmin@gmail.com"
MAIL_FROM_NAME="WorkBridge"

# Production reminder:
# APP_ENV=production
# APP_DEBUG=false
